<ion-content>


  <ion-title id="page">Cadastro</ion-title>

  <ion-item>
    <ion-input type="text" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="email" placeholder="E-mail"></ion-input>
  </ion-item>


  <ion-item>
    <ion-input type="number" placeholder="Telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="CPF"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-button (click)="btncon()" expand="block">Cadastrar</ion-button>

</ion-content>
