<ion-header>
  <ion-toolbar>
    <ion-title color="light" id="mecanico" class="ion-text-center">Perfil do profissional</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <img id="img" src="assets\icon\maior.png" alt="">
  
  <div id="info">
    <ion-text color="light">Nome:</ion-text><br>
  </div>
  <div id="info">
    <ion-text color="light">Telefone:</ion-text><br>
  </div>
  <div id="info">
    <ion-text color="light">E-mail:</ion-text><br>
  </div>
  <div id="info">
    <ion-text color="light">Descrição:</ion-text><br>
  </div>
      
</ion-content>
