
ion-content{
  --background:#003C70

}
ion-toolbar{
  --background:#054C82

}

#mecanico{
  position: absolute;
  top: 15px;
  padding-left: 10px;
}

#img{
  margin-top:40px ;
  width: 50%;
  margin-bottom: 0px;
  margin-left: 65px;
  margin-right: 65px;
}

#info{
  margin-top: 5px;
  margin-left: 10px;
}



