<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Claudemir</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>


    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>João Costa</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>José Silva</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>jacinto Pinto</h2>
        <h3>{{ titulo }}</h3>
        <p>Não estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Claudio Pereira</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Gabriel Souza</h2>
        <h3>{{ titulo }}</h3>
        <p>Não estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Vinicíus Santos</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Felipe Souza</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Josevaldo Oliveira</h2>
        <h3>{{ titulo }}</h3>
        <p>Não estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Paulo roberto</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Pedro Santos</h2>
        <h3>{{ titulo }}</h3>
        <p>Não estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Thiago Luiz</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Hugo Ferreira</h2>
        <h3>{{ titulo }}</h3>
        <p>Estou disponível!!</p>
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      <ion-label>
        <h2>Gustavo Lima</h2>
        <h3>{{ titulo }}</h3>
        <p>Não estou disponível!!</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>

