<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list >
    <ion-item [routerLink]="['/mecanico']" routerLinkActive="router-link-active" *ngFor="let nome of usuarios">
      <ion-avatar slot="start">
        <img src="assets\icon\403019_avatar_male_man_person_user_icon.png" />
      </ion-avatar>
      aaa
      <h2>{{nome.nome}}</h2>
    </ion-item>

  </ion-list>
</ion-content>

